OPEN_AI_KEY = 'sk-proj-YOUR-OPEN-AI-KEY-GOES-HERE'

# WS APP
# OPENAI_MODEL_WS = 'gpt-4o-realtime-preview'
OPENAI_MODEL_WS = 'gpt-4o-mini-realtime-preview'
CHUNK_SIZE_MS = 100

# HTTP REQ APP
OPENAI_MODEL_REQ = 'whisper-1'
VAD_THRESHOLD = 500
SILENCE_DURATION = 1.5
AUDIO_LENGTH_MIN = 0.5
AUDIO_LENGTH_MAX = 30.0
